section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: 100%;
    background-color: white;
    height: 100vh;
    font-weight: 500;

    &:nth-of-type(2n) {
        background-color: #373B44;
    }
}

.content {
    display: table-cell;
}

.intro {
    text-align: center;
    
    .content {
        vertical-align: middle;
    }

    .myName {
        font-size: 60px;
        color: #373B44;
        letter-spacing: .15em; /* Adjust as needed */
    }

    .presentation {
        letter-spacing: .2em; /* Adjust as needed */
    }

    .contact {
        display:inline;
        transition: all 0.3s;

        a{ margin-left: 10px; }

        a:link, a:visited {
            color: #373B44;
        }
        i:hover {
            transform: scale(1.2);
        }
    }
}
.sectionHeader{
    background-color: #FAD02C;
    background-image: linear-gradient(315deg, #fbb034 0%, #FAD02C 74%);
    padding: 2px 0px;
    color: #373B44;
    text-align: center;
    letter-spacing: .15em;
    height: 21vh;
    
    .sectionHeader__title {
        font-size: 50px;
        margin-bottom: 2px;
        font-weight: absolute;
    }
    .sectionHeader__description {
        padding-top: 0px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}
.aboutMe {
    height: 80vh;
    color: white;
    .introduction {
        display: flex;
        font-size: 20px;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 60px;
        img {
            border-radius: 50%; 
            height: 150px; 
            width: 150px;
            margin-right: 20px;
            display: left;
        }
        p {
            letter-spacing: .10em;
            display: right;
            margin-top: 30px;
        }
    }
    ul {
        list-style-type: circle;
        font-size: 20px;
        li {
            margin: 0 0 10px 0;
        }
    }
    h2 {
        color: #FAD02C
    }

    .experience {
        margin-top: 50px;
    }
    .panel {
        margin-top: 10px;
        margin-bottom:4px;
    }

    .panel-heading {
        padding:10px;
        display: inline-block;
        width: 100%;
        background-color: #FAD02C;
        background-image: linear-gradient(315deg, #fbb034 0%, #FAD02C 74%);
        border: 1px solid #FAD02C;
        position: relative;
        cursor: pointer;
    }
    .panel-heading a {
        text-decoration: none;
        color:#373B44;
        vertical-align: bottom;
        font-weight: absolute;
        font-size: 20px;
    }
    .panel-heading a:after {
        content: "+";
        position: absolute;
        right: 15px;
        font-size: 14px;
        font-weight: 300;
        top: 50%;
        line-height: 1;
        margin-top: -7px;
    }
    
    .panel-heading:hover, .panel-heading-hover {
        background-color: #fbb034;
        border: 1px solid #fbb034;
        background-image: none;
    }
    .panel-heading-hover a:after {
        content: "-";
        position: absolute;
        right: 15px;
        font-size: 14px;
        font-weight: 300;
        top: 50%;
        line-height: 1;
        margin-top: -7px;
    }
    .panel-heading-question{
        vertical-align: middle;
        padding-right: 10px;
    }
    .panel-body{
        border: 1px solid #FAD02C;
        border-top: 0;
        background:#FAD02C;
        padding: 0 10px;
        width: 100%;
        color: #373B44;
    }
    
    .hidden-element {
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
        -webkit-transition: height .3s;
        transition: height .3s;
        height: 0;
        overflow: hidden;
    }
    .highlight {overflow: auto; background-color: #efefef;}
}

.projects {
    height: 80vh;
    .content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 20px 70px;
    }
    .card {
        display: grid;
        max-width: 300px;
        text-align: center;

        .card-title {
            font-size: 20px;
        }
    }
}
