section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: 100%;
    background-color: white;
    height: 100vh;
    font-weight: 500;

    &:nth-of-type(2n) {
        background-color: #373B44;
    }
}

.content {
    display: table-cell;
}

.intro {
    text-align: center;
    
    .content {
        vertical-align: middle;
    }

    .myName {
        font-size: 60px;
        color: #373B44;
        letter-spacing: .15em; /* Adjust as needed */
    }

    .presentation {
        letter-spacing: .2em; /* Adjust as needed */
    }

    .contact {
        display:inline;
        transition: all 0.3s;

        a{ margin-left: 10px; }

        a:link, a:visited {
            color: #373B44;
        }
        i:hover {
            transform: scale(1.2);
        }
    }
}
.sectionHeader{
    background-color: #FAD02C;
    background-image: linear-gradient(315deg, #fbb034 0%, #FAD02C 74%);
    padding: 2px 0px;
    color: #373B44;
    text-align: center;
    letter-spacing: .15em;
    height: 21vh;
    
    .sectionHeader__title {
        font-size: 50px;
        margin-bottom: 2px;
        font-weight: absolute;
    }
    .sectionHeader__description {
        padding-top: 0px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}
.aboutMe {
    height: 80vh;
    color: white;
    .introduction {
        display: flex;
        font-size: 20px;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 60px;
        img {
            border-radius: 50%; 
            height: 150px; 
            width: 150px;
            margin-right: 20px;
            display: left;
        }
        p {
            letter-spacing: .10em;
            display: right;
            margin-top: 30px;
        }
    }
    ul {
        list-style-type: circle;
        font-size: 20px;
        li {
            margin: 0 0 10px 0;
        }
    }
    h2 {
        color: #FAD02C
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
    }

    .awards {
        width: 25%
    }

    .education {
        width: 50%
    }

    .experience {
        width: 25%
    }
}

.projects {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 300px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
}
